:root {
  --primary-color: #8cc0f3;
  --secondary-color: #3071b3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 22px;
  opacity: 0.7;
}
h4 {
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  text-align: center;
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1320px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}
.fa-linkedin {
  display: flex;
  justify-content: center;
  position: relative;
  right: 40px;
  color: var(--secondary-color);
  font-size: 35px;
  text-decoration: none;
}
.fa-ggithub {
  display: flex;
  justify-content: center;
  position: relative;
  left: 60px;
  bottom: 35px;
  color: var(--secondary-color);
  font-size: 35px;
  text-decoration: none;
}
.hero {
  background-color: #f7fbfe;
  padding: 100px 20px;
  border-radius: 10px;
}
.hero h1 {
  font-family: "Playfair Display";
}
.hero h2,
h3 {
  font-family: "Poppins", sans-serif;
}
.text .title {
  font-family: "Poppins", sans-serif;
}
.about-hero {
  background-color: #f7fbfe;
  padding: 100px 20px;
}
.picture-me {
  border-radius: 8px;
  text-align: center;
  margin-left: 45px;
}
.work {
  font-size: 55px;
  font-family: "Playfair Display";
  font-weight: bold;
}
.work-text {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 15px;
}
.contact {
  font-size: 35px;
  font-family: "Playfair Display";
  font-weight: bold;
}
footer .contact-box {
  background: #f7fbfe;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
.contact-me-footer {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  position: relative;
  top: 28px;
}
.open-source-footer {
  color: var(--primary-color);
}
.email-footer {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
}

.email-footer:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .picture-desktop {
    display: none;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
  }
  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .text {
    text-align: center;
  }
  .hero .about-hero .contact-box {
    padding: 80px 20px;
  }
  .picture-me {
    margin: 0 auto;
  }
  .work {
    font-size: 28px;
  }
}
